<div>
    <p>Q: Is there a free version? </p>
    <p>A: Yes! We offer a free trial version for 30 days on any paid plans</p>
</div>
<div>
    <p>Q: What are your support hours?</p>
    <p>A: We have support staff answering emails 24/7, though response times may be a bit slower on weekends</p>
</div>
<div>
    <p>Q: How do i contact support?
        <p>A: Email us - <a href=\"mailto:support@lenslocked.com\">support@lenslocked.com</a></p>
    </div>